.contacts
 display: flex
 flex-direction: column
 align-items: center
 &__title
  color: #1f1f1f
 &-address
  display: flex
  flex-direction: row
  height: 555px
  align-items: flex-end
 &__map
  margin-right: 28px              
 &__disc
  transform: translateY(-20%)
 &__img
  transform: translate(-5%,30%)
.disc
 &__item
  margin-right: 5px   
 &__tel-number   
  color: #1f1f1f
  font-family: Roboto
  font-size: 18px
  font-weight: 300
  text-decoration: none         
