.popup  
 position: relative
 background-color: #fff
 border-radius: 20px
 box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .65)
 display: flex
 flex-direction: column
 position: fixed
 justify-content: center
 align-items: center
 z-index: 9999!important
 &__close
  position: absolute
  right: 34px
  top: 34px
  cursor: pointer 
  +for-size(min320)
   right: 14px
   top: 14px  
  & img  
   +for-size(min320)
    width: 20px 
    height: 20px 
 &-menu
  width: 500px
  height: 400px
  top: calc( 50% - 200px )   
  left: calc( 50% - 250px ) 
  +for-size(min320)
   width: 320px     
   height: auto
   left: calc( 50% - 160px )  
   padding: 25px 0 
  &-style
   color: #1f1f1f
   font-family: $mon
   font-size: 24px
   font-weight: 700 
   cursor: pointer
  &__pizza
   margin-bottom: 50px
   +for-size(min320)
    margin-bottom: 20px
  &__about
   margin-bottom: 50px
   +for-size(min320)
    margin-bottom: 20px
  &__contacts
   margin-bottom: 50px
   +for-size(min320)
    margin-bottom: 20px
  &__tel
   margin-bottom: 50px
   +for-size(min320) 
    margin-bottom: 20px
  &__number
   color: #ffa650
   font-family: $mon
   font-size: 16px
   font-weight: 700
   padding: 14px 20px
   border-radius: 22px
   border: 3px solid #ffa650   
   text-decoration: none 
  &__item
   margin-right: 6px
.orange
 background-color: #ffa650      
.popup
 &-order
  padding: 24px 0
  width: 500px
  height: auto 
  top: 6px   
  left: calc( 50% - 250px ) 
  z-index: 5
  +for-size(min320)
   width: 320px
   left: calc( 50% - 160px ) 
  &__img
   +for-size(min600)
    display: none
  & .button
   height: auto
   padding: 10px 74px
  &__title
   color: #1f1f1f
   font-family: $mon
   margin-bottom: 12px
   font-size: 24px
   font-weight: 700 
  &__text
   color: #1f1f1f
   font-family: $rob
   margin-bottom: 10px
   font-size: 18px
   font-weight: 300  
  &__img
   margin-bottom: 10px              
  &__item
   display: flex
   flex-direction: row 
   color: #1f1f1f
   font-family: $mon
   font-size: 22px
   font-weight: 700
   margin-bottom: 10px
  &__name
   margin-right: 10px 
  &__size   
   color: #a2a2a2
   font-family: $mon
   font-size: 16px
   font-weight: 400
   margin-bottom: 15px
.input
 width: 300px
 height: 30px
 border-radius: 32px
 background-color: #f7f7f7 
 color: #a2a2a2
 font-family: $rob
 font-size: 16px
 font-weight: 300
 padding-left: 35px 
 outline: none
 border: 0
 &__name   
  margin-bottom: 7px
 &__tel
  margin-bottom: 7px
 &__address
  margin-bottom: 7px  
.select
 margin-bottom: 7px
 appearance: none
 position: relative
 &:after 
  content: ""
  display: block
  border-style: solid
  border-width: 6px 5px 0 5px
  border-color: #000 transparent transparent transparent
  pointer-events: none
  position: absolute
  top: 50%
  right: 1rem
  z-index: 5
  margin-top: -3px
        

